body {
  font-family: Arial;
  background: #222;
  color: white;
  text-align: center;
}

.container {
  margin-top: 50px;
}

input, button {
  padding: 10px;
  margin: 5px;
}

li {
  list-style: none;
  margin-top: 10px;
}
